body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
#cartMainContainer
{
    padding: 90px 50px;
}
#cartContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
img
{
    width: 80px;
    float: left;
    border-radius: 10px;
    margin-right: 50px;
}
#boxContainer {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    width: 100%;
}

#box {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: white;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    border-radius: 10px;
    width: 80%;
    height: 130px; /* Set a fixed height or adjust as needed */
    padding: 20px 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);  
}

#box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}

#totalContainer {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 50%;
    padding: 20px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    height: 130px; /* Match this with the box height */
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);   
}
#totalContainer:hover
{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
}
#button {
    text-align: center; /* Center the button within its container */
    margin-top: 20px; /* Space above the button */
}

#button button {
    padding: 8px 12px;
    font-size: 15px; /* Font size */
    font-weight: 600; /* Bold text */
    color: white; /* Text color */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px;
    border: none; /* Remove default border */
    background-image: linear-gradient(to right, #A0D683, #7dee12, #5df30c, #12ee6c); /* Gradient background */
    background-size: 300% 100%; /* For gradient background */
    box-shadow: 0 4px 15px rgba(18, 238, 55, 0.75); /* Shadow effect */
    transition: all 0.4s ease-in-out; /* Smooth transition */
}

#button button:hover {
    background-position: 100% 0; /* Change background position on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
}

#button button:focus {
    outline: none; /* Remove outline on focus */
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 800px)
{
    img
    {
        width: 60px;
        margin-right: 20px;
    }
    h3, h4
    {
        font-size: 14px;
    }
    h2
    {
        font-size: 18px;
    }
    #cartMainContainer
    {
        padding: 90px 20px;
    }
}
@media(max-width: 555px)
{
    #cartContainer
    {
        display: grid;
        grid-template-columns: 1fr;
    }    
    #boxContainer
    {
        padding: 20px;
        width: 80%;
    }
}
