body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    width: 90%;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
}

#containerGrocery, #containerScrap {
    display: grid;
    grid-gap: 20px; /* Space between boxes */
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

#box {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
    padding: 10px; /* Add padding inside the box */
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center align text and images */
    text-align: center; /* Center align text */
}

#box:hover {
    box-shadow: 1px 6px 3px 0 rgb(185, 185, 185);
}

#containerGrocery img, #containerScrap img {
    width: 100%; /* Maintain the width of images */
    height: auto; /* Maintain aspect ratio */
    max-height: 150px; /* Set max height to ensure uniformity */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#details {
    padding: 0 15px;
    text-transform: capitalize;
}

#box a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

h3 {
    font-size: 16px;
}

h4 {
    font-weight: 100;
}

h2 {
    color: rgb(3, 94, 94);
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1070px) {
    h1 {
        font-size: 25px;
    }

    #containerGrocery, #containerScrap {
        width: 95%;
        grid-gap: 10px;
    }
}

@media(max-width: 850px) {
    h1 {
        width: 80%;
    }

    #containerGrocery, #containerScrap {
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }    
}

@media(max-width: 650px) {
    h1 {
        font-size: 20px;
        width: 90%;
    }

    #containerGrocery, #containerScrap {
        width: 90%;
    }
}

@media(max-width: 600px) {
    h1 {
        width: 70%;
    }

    #containerGrocery, #containerScrap {
        width: 70%;
    }
}

@media(max-width: 505px) {
    h1 {
        width: 80%;
    }

    #containerGrocery, #containerScrap {
        grid-template-columns: repeat(2, 1fr);
    }
}
