body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 60%;
    max-width: 1200px;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

/* Mobile devices */
@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    .left-section, .right-section {
        flex: none;
        width: 100%;
        padding: 20px;
    }
}

/* Tablets and small desktops */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 80%;
        height: auto;
    }

    .left-section, .right-section {
        padding: 20px;
    }
}

.left-section {
    background-color: #4EA685;
    color: rgb(255, 255, 255);
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.right-section {
    background-color: #f9f7f7;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4EA685;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4EA685;
}

p {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #575c59;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
